[submodule "dependencies/spvwallet-go"]
	path = dependencies/spvwallet-go
	url = https://github.com/xloem/spvwallet.git
	branch = watchOnlyTransactions
[submodule "dependencies/grpc"]
	path = dependencies/grpc
	url = https://github.com/grpc/grpc.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = git@github.com:nlohmann/json
[submodule "dependencies/cpp-subprocess"]
	path = dependencies/cpp-subprocess
	url = git@github.com:arun11299/cpp-subprocess.git
